* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colores */
  --primary-dark-color: #171934;
  --secondary-dark-color: #77767c;
  /* --secondary-light-color: #b8b7f8; */
  --secondary-light-color: #cb8dec;
  --primary-light-color: #e8ddff;
  --white: #e2e2e2;
  
  /* fuentes */
  --font: "Inter", sans-serif;
  --font-logo: "Righteous", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  /* position: fixed; */
  color: var(--white);
  font-family: var(--font);
  font-size: 1.6rem;
} 

.movie-details-window {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #000000,
    var(--primary-dark-color)
  );
  z-index: 2;
}

.movie-details-window__background {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
}

.movie-details {
  display: flex;
  width: 100%;
  height:100vh;
  padding-block-start: 25vh;
  padding-block-end: 100px;
  padding-inline: 100px;
  background: linear-gradient(
    to right,
    #000,
    rgba(from var(--primary-dark-color) r g b / 0.9),
    transparent
  );
  text-shadow: 1px 1px 3px rgb(0,0,0,0.35);
}

.movie-poster-container {
  width: 20%;
}

.movie-poster {
  width: 100%;
}

.movie-details-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  padding: 0 40px;
}

.movie-details-div .movie-title {
  width: 100%;
  font-size: 6.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--white);
}

.movie-details-div .movie-originalTitle {
  width: 100%;
  margin: 10px 0;
  font-size: 1.8rem;
}

.date-genres-div {
  display: flex;
  padding: 10px 0;
  gap: 15px;
}

.movie-releaseDate {
  display: inline-block;
  margin: 5px 0;
}

.movie-genres {
  display: inline-block;
  margin: 5px 0;
}

.movie-runtime {
  display: inline-block;
  margin: 5px 0;
}

.movie-rates {
  display: flex;
  padding: 10px 0;
  gap: 15px;
}

.movie-details-div .movie-tagline {
  font-family: var(--font-logo);
}

.movie-details-div .movie-tagline {
  padding-block: 20px;
}

.movie-details-div .movie-overview {
  padding-block: 20px;
}

.movie-linkBtn {
  cursor: pointer;
  margin: 20px 0;
  width: 150px;
  height: 42px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.9rem;
  background-color: rgb(from var(--primary-dark-color) r g b / 0.85);
  cursor: pointer;
  box-shadow: 0px 10px 20px -18px rgb(0, 0, 0, 0.35);
}

.movie-linkBtn:hover {
  color: var(--primary-dark-color);
    background-color: rgb(from var(--secondary-light-color) r g b / 0.85);
}

.movie-linkBtn:active {
  color: var(--primary-light-color);
  background-color: rgb(from var(--secondary-dark-color) r g b / 0.85);
}

.close-window {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-block-start: 25vh;
  margin-inline: 100px;
}

.close-window svg {
  cursor: pointer;
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.35))
}

/* From Uiverse.io by barisdogansutcu */
.loader-animation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #000000,
    var(--primary-dark-color)
  );
  z-index: 4;
}

.loader-animation svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 92vh;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}

.header-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  padding: 0 50px;
  background: linear-gradient(
    to bottom,
    #000,
    transparent
  );
  z-index: 2;
  transition: all 600ms;
}

.header-container--scrolled {
  background-color: rgba(23, 25, 52, 0.95);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  width: 100%;
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 5.6rem;
  letter-spacing: 4px;
  text-shadow: 1px 1px 3px rgb(0,0,0,0.35);
  cursor: pointer;
  transition: transform 500ms;
}

.header-subtitle {
  font-family: var(--font);
  font-size: 1.4rem;
  line-height: 0px;
  letter-spacing: 6px;
  transition: transform 500ms;
}

.header-logo:hover .header-title{
  color: var(--secondary-light-color);
  transform: scale(1.1);
}

.header-logo:hover .header-subtitle{
  color: var(--secondary-light-color);
  transform: scale(1.1);
}

.profile-avatar-container {
  width: 50px;
  cursor: pointer;
}

.profile-avatar {
  width: 100%;
  border-radius: 50%;
}

.hero-info-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45vh;
  padding: 0 50px;
  background: linear-gradient(
    to top,
    #000,
    transparent
  );
  text-shadow: 1px 1px 3px rgb(0,0,0,0.35);
}

.hero-info__title {
  font-size: 10rem;
  max-width: 50vw;
  font-weight: 900;
}

.movie-yearRate {
  margin: 5px 0;
}

.hero-info__synopsis {
  font-size: 1.8rem;
  max-width: 35vw;
}

.hero-info__movie-btn {
  margin: 20px 0;
  width: 150px;
  height: 42px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.9rem;
  background-color: rgb(from var(--primary-dark-color) r g b / 0.85);
  cursor: pointer;
  box-shadow: 0px 10px 20px -18px rgb(0,0,0,0.35);
}

.hero-info__movie-btn:hover {
  color: var(--primary-dark-color);
  background-color: rgb(from var(--secondary-light-color) r g b / 0.85);
}

.hero-info__movie-btn:active {
  color: var(--primary-light-color);
  background-color: rgb(from var(--secondary-dark-color) r g b / 0.85);
}

.movie-yearRate {
  display: flex;
  gap: 0.75%;
}

.user-assets {
  display: flex;
  gap: 20px;
}

.header-searchForm {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  justify-content: center;
  flex-wrap: nowrap;
}

.searchForm-input {
  width: 26vw;
  background-color: #f5f5f5;
  color: var(--white);
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  border-block-end: solid 1px var(--secondary-dark-color);
  font-size: 1.8rem;
  background-color: rgb(0,0,0,0.0);
  line-height: 1.15;
}

.searchForm-input:hover {
  border-block-end: solid 2px var(--white);
}

.searchForm-input:focus {
  border-bottom: 2px solid var(--secondary-light-color);
  border-radius: 4px 4px 2px 2px;
}

.search-icon-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search-icon {
  width: 100%;
  transition: all 300ms;
}

.search-icon-container:hover .search-icon {
  transform: scale(1.12)
}


main {
  background-image: linear-gradient(to bottom, #000000, #12060d, #1a0c19, #1c1225, #171934);
}

.trendingPreview-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
}

.trendingPreview-header {
  display: flex;
  justify-content: space-between;
}


.trendingPreview-btn {
  color: var(--white);
  font-size: 1.8rem;
  background-color: rgb(0,0,0,0.0);
  border: none;
  cursor: pointer;
}

.trendingPreview-movieList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5%;
  flex-wrap: wrap;
}

.movie-container {
  position: relative;
  width: 18%;
  margin-block-end: 2.5%;
}

.movie-img {
  width: 100%;
  transition: filter 500ms;
}

.movie-container:hover {
  outline: 2px solid var(--secondary-light-color);
}

.movie-container:hover .movie-img {
  filter: brightness(0.10);
}



.movie-details-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 100%;
  padding: 0 9%;
  color: var(--white);
  transition: display 500ms;
}

.movie-title {
  font-size: 3rem;
  font-weight: 800;
}

.movie-year,
.movie-rate, 
.movie-votes, 
.movie-popularity {
  font-size: 1.85rem;
  font-weight: 700;
}

.moreDetails-btn {
  cursor: pointer;
  width: 40%;
  height: 36px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: rgb(from var(--primary-dark-color) r g b / 0.85);
  box-shadow: 0px 10px 20px -18px rgb(0,0,0,0.35);
}

.moreDetails-btn:hover {
  color: var(--primary-dark-color);
  background-color: rgb(from var(--secondary-light-color) r g b / 0.85);
}

.moreDetails-btn:active {
  color: var(--primary-light-color);
  background-color: rgb(from var(--secondary-dark-color) r g b / 0.85);
}

.categoriesPreview-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
}

.categoriesPreview-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 6%;
}

.category-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.category-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

#id1 {
  background-color: #ec7063;
}
#id2 {
  background-color: #af7ac5;
}
#id3 {
  background-color: #5499c7;
}
#id4 {
  background-color: #48c9b0;
}
#id5 {
  background-color: #f4d03f;
}
#id6 {
  background-color: #dc7633;
}
#id7 {
  background-color: #566573;
}
#id8 {
  background-color: #17202a;
}

footer {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 10vh;
  padding: 20px 50px;
  background-color: var(--primary-dark-color);
}

.inactive {
  display: none;
}

.invisible {
  visibility: hidden;
}